body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
#Calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  max-width: 600px;
  overflow: visible;
}
#Display {
  width: 92%;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  border: none;
  border-radius: 10px 10px 0px 0px;
  background-color: hsl(0, 7%, 63%);
  color: rgb(12, 12, 12);
}
#Keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 15px;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: rgb(122, 197, 2);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: hsl(39, 83%, 90%);
}
button:active {
  background-color: hsl(0, 0%, 100%);
}
.operator-btn {
  background-color: hsl(83, 98%, 70%);
}
.operator-btn:hover {
  background-color: hsl(39, 83%, 90%);
}
